.dropbtn {
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-trading {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 360px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-trading a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.font-black {
  color: black;
}

.font-white {
  color: white;
}

.bg-white{
  background-color: "white";
}

.background-black{
  background-color: "black";
}

.font-center {
  text-align: center;
}

.black-news{
  background-color: #1D1E1F;
}

.positioned-left {
  position: absolute;
  left: 10%;}

.positioned-right {
  /* position: absolute; */
  right: 30%;}

.positioned-text-right {
  position: absolute;
  right: 2%;}

.title-content{
  text-align: left;
  font-style: Helvetica Bold;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown-content-trading a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content-trading {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}

.vertical-center{
    text-align: left;
    font-style: Helvetica Bold;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.scaled {
  transform: scale(1.2); /* Equal to scaleX(0.7) scaleY(0.7) */
  /* background-color: pink; */
}

hr.grey {
  border-top: 1px solid grey;
}
.slick-arrow {
}

.slick-prev{
  /* position: absolute;
  left: calc(100% - 65% - #{$icon-size-regular}); */
    /* margin-left: 0;
  left: calc(100% - 65% - 3rem) !important; */
}