.dropbtn {
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.dropdown {
  position: relative;
  display: inline-block;
  align-content: center;
}

.dropdown-content {
  position: absolute;
  background-color: #fff7f7;
  opacity: 0.98;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: all .5s ease;
  z-index: 1;
  left: -38vw;
  width: 101vw;
  display: none;
  justify-content: space-around;
  height: 120px;
  align-items: center;
  z-index: -1;
  /* top:9.5vh */
  /* background-color: #D4D4D4; */
}

.trading-online {
  left: -48vw;
}

.layanan {
  left: -58vw;
}


.dropdown-content-trading {
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: all .5s ease;
  z-index: 1;
  width: 101vw;
  display: none;
  justify-content: space-around;
  height: 220px;
  align-content: center;
  background-color: #D4D4D4;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-trading a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.font-black {
  color: black;
}

.font-white {
  color: white;
}

.font-black {
  color: black;
}

.bg-white{
  background-color: #F3F3F3;
}


.background-black{
  background-color: "black";
}

.font-center {
  text-align: center;
}

.black-news{
  background-color: #1D1E1F;
}

.black-newsletter{
  background-color: #292A2C;
}

.positioned-left {
  position: absolute;
  left: 10%;}

.positioned-right {
  /* position: absolute; */
  right: 30%;}

.positioned-text-right {
  position: absolute;
  right: 2%;}

.title-content{
  text-align: left;
  font-style: Helvetica Bold;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.title-post{
  text-align: left;
  font-style: Helvetica Bold;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.text-posted{
  text-align: left;
  font-size: 0.8rem;
  color: white;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display:flex;transform: translateY(0);}

.dropdown-content-trading a:hover {background-color: #ddd; }

.dropdown:hover .dropdown-content-trading {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}

.vertical-center{
    text-align: left;
    font-style: Helvetica Bold;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-center-nav{
  text-align: left;
  font-style: Helvetica Bold;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-center-img{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scaled {
  transform: scale(1.2); /* Equal to scaleX(0.7) scaleY(0.7) */
  /* border-radius:30px; */
  /* background-color: pink; */
}

hr.grey {
  border-top: 1px solid grey;
}
.slick-arrow {
}

.slick-prev{
  /* position: absolute;
  left: calc(100% - 65% - #{$icon-size-regular}); */
    /* margin-left: 0;
  left: calc(100% - 65% - 3rem) !important; */
}

.prev-btn{
  margin-top:50px;
  margin-right: 60px !important;
}

.next-btn{
  margin-top:50px;
}

.zoom:hover{
  transform: scale(1.05);
  /* border: 1px groove; */
  /* border-color:white; */
  /* border-radius:10px; */
}

.free{
  border: 0.5px groove;
  border-color:white;
  border-radius:10px;
}
.vl {
  border-left: 1px solid grey;
  height: 30px;
  /* position: absolute; */
  margin-right: 5px;
  top: 25%;
}


.vl-navbar {
  border-left: 1px solid grey;
  height: 10vh;
  /* position: absolute; */
  /* margin-right: 5px; */
  top: 25%;
}

.title-navbar {
  margin-left: "10px";
  font-size: "15px";
  font-weight: "bold";
  color: "black";
  margin-top: "20px";
  margin-bottom: "10px";
}

.blue-tgf{
  background-color: #2BB3E1;
}

.legality {
  width:150px;
}

.legality:hover {
  transform: scale(1.5); 
}

.line {
  height: 0.2;
  width: 75vw;
  border-color: black
}

.title-table {
  color: "#FFFFFF";
  font-size: 18px;
}

.icon-benefit {
  height:"20%";
  width:"50%";
  margin-left: "20%";
}

.card-benefit {
  background-color: transparent;
 }

 .text-benefit {
  color:white;
  /* background: linear-gradient(to right, black 50%, white 50%); */
  transition: all .5s ease-out;
 }

 .card-komoditi {
  transition: all .5s ease-out;
  color:black;
  background-color: transparent;
  /* min-height: "270px";
  min-width: "200px"; */
  border-radius: "10px";
  justify-content: "center";
  border: 0.5px solid;
  border-color:black;
 }

 .title-benefit{
  font-size: 12em;
  color: white;
  letter-spacing: 14px;
  font-weight: bold;
 }

 .text-benefit:hover {
  color:black;
 }

 .card-komoditi:hover {
  color:white;
  background-color: #2F5D9E;
  /* min-height: "270px"; */
  min-width: "100%";
  border-radius: "10px";
  justify-content: "center";
  /* transform: scale(1.1);  */
 }

.card-benefit:hover {
 background-color: white;
 border-radius: 10px;
 color:black;
}

.broken-white {
  background-color: #fff7f7;
}

.icon-biaya {
  background-image: url("../img/biaya.png") no-repeat;
}
.icon-biaya:hover {
  background-image: url("../img/biaya-black.png") no-repeat;
}

.helvetica {
  font-family: "Helvetica reguler";
}


.minHeight {
  min-height: 86vh;
}

.navbar-bottom {
  z-index: 99;
  /* position: fixed; */
  bottom: 0;
  width: 100vw;
  transition: all .2s ease-in;
}

.navbar-bottom a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-bottom a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar-bottom a.active {
  background-color: #f1f1f1;
  color: white;
}